@model PL.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        Email : @Html.EditorFor(m => m.Email)
    </div>
    <div>
        Password : @Html.EditorFor(m => m.Password)
    </div>
    <div>
        <input type="submit" value="Sign In" />
    </div>
    @Html.ValidationSummary()
    <p>@ViewBag.returnUrl</p>
}